.content {
	background-color: #fff;
	padding: 0 1% 0 1%;
	width: 77%;
}

.button {
	width: 90px;
	position: relative;
	left: 32rem;
	bottom: 2.6rem;
}

.empty {
	color: #fc2003;
}

.spin {
	justify-content: center;
}
