.country {
	order: 0;
	flex: 0 238px;
}

.cep {
	order: 0;
	flex: 1;
}

.number {
	order: 0;
	flex: 1;
}

.street {
	order: 1;
	flex: 1 0 100%;
}

.complement {
	order: 2;
	flex: 1 0 100%;
}

.state {
	order: 3;
	flex: 1;
}

.district {
	order: 3;
	flex: 1;
}

.city {
	order: 3;
	flex: 1;
}
