stages:
  - black
  - eslint
  - test
  - staging

black:
  stage: black
  allow_failure: false
  script:
    - curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
    - python3 get-pip.py
    - pip3 install black
    - black --check ./server
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - "**/*.py"

eslint:
  stage: eslint
  image: node:latest
  allow_failure: false
  script:
    - cd front
    - yarn add node-sass
    - yarn add eslint --dev
    - yarn add -D prettier eslint-plugin-prettier eslint-config-prettier
    - yarn run eslint . --max-warnings=0
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - "**/*.js"

merge_into_staging:
  stage: staging
  script:
    - curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
    - python3 get-pip.py
    - pip3 install GitPython
    - pip3 install --upgrade python-gitlab
    - python3 ./devops/staging.py
  only:
    - merge_requests
    - dev
