.nationality {
	order: 0;
	flex: 0 238px;
}

.cpf {
	order: 0;
	flex: 1;
}

.pronoun {
	order: 1;
	flex: 0 113px;
}

.name {
	order: 1;
	flex: 1;
}

.surname {
	order: 2;
	flex: 1 0 100%;
}

.identity {
	order: 3;
	flex: 1;
}

.identity-org {
	order: 3;
	flex: 1.5;
}

.identity-date {
	order: 3;
	flex: 1;
}

.email {
	order: 4;
	flex: 1 0 100%;
}

.marital-state {
	order: 5;
	flex: 1;
}

.property-regime {
	order: 5;
	flex: 1;
}

.profession {
	order: 6;
	flex: 1 0 100%;
}

.cep {
	order: 7;
	flex: 1;
}

.country {
	order: 7;
	flex: 1.5;
}

.number {
	order: 7;
	flex: 1;
}

.street {
	order: 8;
	flex: 1 0 100%;
}

.complement {
	order: 9;
	flex: 0 238px;
}

.district {
	order: 9;
	flex: 0 238px;
}

.city {
	order: 10;
	flex: 1;
}

.state {
	order: 10;
	flex: 1;
}
