.siteLayout {
	background: #fff;
	display: flex;
	justify-content: flex-end;
	padding: 0 24px;
	* {
		align-items: center;
	}
}

.mobile {
	background: #001529 !important;
	padding-left: 50px;
}

.trigger {
	font-size: 18px;
	line-height: 64px;
	cursor: pointer;
	transition: color 0.1s;
	&:hover {
		color: #1890ff;
	}
}

.profile {
	cursor: pointer;
	transition: color 0.1s;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
}

.iconsHeader {
	font-size: 32px;

	display: flex;
	align-items: center;

	> * {
		margin: 0 10px 0 0;
	}
	*:hover {
		color: #1890ff;
	}
}

.dropDownProfile {
	display: flex;
	align-items: center;
	> * {
		margin: 0 10px 0 0;
	}

	* {
		color: #333;
	}
}

.profileMobile {
	color: #fff;
}

.logo {
	width: 100px;
}
