@import '../../styles/variables.less';

.app {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background-color: @color-blue-3;
  overflow: hidden;
}

.app__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flext-start;
  flex-grow: 1;
  padding: 0 40px;

  h1 {
    text-align: center;
  }

  h3 {
    margin-bottom: 30px;

  }

  .textarea {
    margin-top: 30px;
  }

  .radio {
    margin-top: 30px;
  }

  .input {
    margin-top: 30px;
  }
}

.app__side-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: calc(100% - 40px);
  height: calc(100vh - 80px);
  top: 80px;
  left: 100%;
  padding: 0 20px;
  background-color: white;
  transition: left 1s ease;

  &--active {
    left: 0;
  }

  h3 {
    margin-top: 40px;
    margin-bottom: 10px;
  }
}

.app__document {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid @color-blue-3;
  cursor: pointer;

  &:last-child {
    border: 0px !important;
  }

  &:hover, &--active {
    * {
      color: @color-blue-1;
    }
  }

  svg {
    min-width: 20px;
  }

  p {
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    line-height: 1.3em;
  }
}

.app__logs {
  padding-top: 160px;
  padding-right: 10%;

  .app__log {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid @color-grey-2;
    margin-left: 40px;

    &:nth-child(2) {
      border-bottom: 1px solid @color-grey-1;
      p {
        font-weight: bold;
      }
    }

    &:last-child {
      border: 0;
    }

    div {
      width: 30%;
      margin-right: 20px;

      &:first-child {
        width: 40%;
      }
      &:last-child {
        width: 10%;
      }
    }

    .button {
      width: 70px;
      height: 32px;
      font-size: 9px;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      // line-height: 1.3em;
      color: @color-grey-1;

      &:nth-child(2) {
        font-size: 10px;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 7px;
      }
    }
  }
}

.dialog__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;


  .dialog__overlay {
    position: fixed;
    opacity: .8;
    width: 100%;
    height: 100%;
    background: #aaaaaa;
  }

  .dialog__content {
    padding: 20px;
    background: white;
    width: 200px;
    height: 50px;
    z-index:101;
    display: flex;
    flex-direction: column;

    .button {
      margin: 10px 0 0 0;
      z-index: 102;
    }
  }
}

@media (min-width: @screen-lg) {
  .app__side-bar {
    position: relative;
    width: 270px;
    height: 100vh;
    top: 0;
    left: 0;
    transition: right 0s ease;
  }
}
