

.trigger {
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
	transition: color 0.3s;
	:hover {
		color: #1890ff;
	}
}

.logo {
	width: 60%;
  margin: 16px;
  fill: rgba(255, 255, 255, 0.2);
}