[data-amplify-authenticator] {
	width: 100%;
	height: 87%;
}

[data-amplify-form][data-amplify-authenticator-signin],
[data-amplify-form][data-amplify-authenticator-signup] {
	padding-top: var(--amplify-space-large);
}
