<p style="text-align: center">{{ TITULO_DOC }}</p>
<p style="text-align: justify">&nbsp;</p>
<p style="text-align: justify">&nbsp;</p>
<p style="text-align: justify">
  Pelo presente instrumento particular, de um lado:
</p>
<p style="text-align: justify">&nbsp;</p>
<p style="text-align: justify">
  <strong>FUTURE LAW EDTECH EDUCAÇÃO E CONSULTORIA LTDA.</strong>, pessoa
  jurídica de direito privado, inscrita no CNPJ/ME sob o nº 34.466.825/0001-18,
  com sede na Rua da Quitanda, 86, Sala 201, Centro, Rio de Janeiro/RJ, CEP
  20.091-902, neste ato representada na forma de seu Contrato Social, doravante
  denominada "<u>Contratante</u>";<br />&nbsp;
</p>
<p style="text-align: justify">E, de outro lado,<br />&nbsp;</p>
<p style="text-align: justify">
  {% if CONTRATADA.PERSON_TYPE == "legal_person" %}<strong
    >{{ CONTRATADA.SOCIETY_NAME|upper }}</strong
  >, inscrita no CNPJ/ME sob o nº {{ CONTRATADA.CNPJ }}, com sede no endereço {{
  CONTRATADA.STREET }}, {{ CONTRATADA.NUMBER }}, {{ CONTRATADA.COMPLEMENT }}, {{
  CONTRATADA.CITY }}, {{ CONTRATADA.STATE }}, CEP {{ CONTRATADA.CEP }}, neste
  ato representado(a) na forma de seu Contrato Social, doravante denominada
  "<u>Contratada</u>".{% else %}<strong
    >{{ CONTRATADA.NAME|upper }} {{ CONTRATADA.SURNAME|upper }}</strong
  >, inscrit{% if CONTRATADA.PRONOUN == "Sr." %}o{% else %}a{% endif %} no CPF
  sob o nº {{ CONTRATADA.CPF }}, residente no endereço {{ CONTRATADA.STREET }},
  {{ CONTRATADA.NUMBER }}, {{ CONTRATADA.COMPLEMENT }}, {{ CONTRATADA.CITY }},
  {{ CONTRATADA.STATE }}, CEP {{ CONTRATADA.CEP }}, doravante denominad{% if
  CONTRATADA.PRONOUN == "Sr." %}o{% else %}a{% endif %} "<u>Contratada</u>".{%
  endif %}
</p>
<p style="text-align: justify">&nbsp;</p>
<p style="text-align: justify">
  Contratante e Contratada, quando em conjunto, denominadas como "Partes" e,
  isoladamente, como "Parte".
</p>
<p style="text-align: justify">&nbsp;</p>
<p style="text-align: justify">
  RESOLVEM as Partes, de mútuo e comum acordo e observando a boa-fé contratual,
  celebrar o presente Contrato de Prestação de Serviços ("Contrato"), em
  conformidade com os termos e as condições adiante expostos:
</p>
<p style="text-align: justify"><strong>1. OBJETO</strong></p>
<p style="text-align: justify">
  1.1 O presente Contrato possui como objeto a prestação, pela Contratada à
  Contratante, do serviço especializado de professor no curso {{ NOME_CURSO }}
  da Contratante, gravando a(s) aula(s) de tema(s): {{ NOME_AULA }}, bem como
  autorizando o uso e a veiculação de sua imagem no curso, bem como em materiais
  para divulgação e veiculação deste, e a cessão da propriedade intelectual
  relativa ao conteúdo produzido para a realização das aulas ("Serviços").
</p>
<p style="text-align: justify">
  1.2 O objeto deste Contrato configura trabalho autônomo de prestação de
  serviços, não gerando qualquer vínculo trabalhista, não havendo subordinação
  hierárquica ou pessoalidade na prestação do serviço contratado, tampouco
  qualquer vínculo de sociedade entre as Partes, bem como não há qualquer
  exclusividade por parte da Contratada na execução do objeto deste Contrato.
</p>
<p style="text-align: justify"><strong>2. EXECUÇÃO DOS SERVIÇOS</strong></p>
<p style="text-align: justify">
  2.1. O Serviços serão executados com independência técnica pela Contratada, a
  qual será orientada apenas quanto aos aspectos quantitativos e qualitativos do
  trabalho a ser desempenhado.
</p>
<p style="text-align: justify">
  2.2 Os Serviços serão prestados pela Contratada de forma autônoma, sem que se
  constitua qualquer vínculo empregatício entre a Contratante e a Contratada,
  inexistindo qualquer relação de pessoalidade entre as Partes.&nbsp;
</p>
<p style="text-align: justify">
  2.3. Cada Parte declara e garante à outra Parte que, nesta data:
</p>
<p style="margin-left: 40px; text-align: justify">
  a) possui capacidade e autoridade necessárias para conduzir seus negócios,
  deter suas propriedades e celebrar, entregar e cumprir suas obrigações
  previstas neste Contrato;
</p>
<p style="margin-left: 40px; text-align: justify">
  b) o Contrato não viola nenhum outro acordo ou contrato que uma das Partes
  tenha em vigor;
</p>
<p style="margin-left: 40px; text-align: justify">
  c) reserva-se o direito de celebrar outras parcerias desta natureza com
  terceiros, de forma que a celebração do presente não gera qualquer
  exclusividade ou expectativa de direito; e
</p>
<p style="margin-left: 40px; text-align: justify">
  d) não realizou qualquer investimento na expectativa de firmar o presente
  Contrato.
</p>
<p style="text-align: justify"><strong>3. OBRIGAÇÕES DAS PARTES</strong></p>
<p style="text-align: justify">
  3.1. Sem prejuízo de outras obrigações previstas neste Contrato, são
  obrigações da Contratada:
</p>
<p style="margin-left: 40px; text-align: justify">
  a) Cumprir, durante a execução do Serviço, todas as leis e regulamentos
  aplicáveis ao objeto deste Contrato, incluindo, mas não se limitando, à
  legislação ambiental, de segurança e medicina do trabalho, independentemente
  de qualquer comunicado ou solicitação, e com todas as instruções e medida de
  segurança interna que forem determinadas, por escrito, pela Contratante;&nbsp;
</p>
<p style="margin-left: 40px; text-align: justify">
  b) Manter vigentes e regulares, durante toda a vigência do Contrato, todas as
  licenças necessárias para execução dos Serviços, bem como seguros legalmente
  exigidos;&nbsp;
</p>
<p style="margin-left: 40px; text-align: justify">
  c) Responsabilizar-se integralmente pelo cumprimento do Serviço contratado,
  bem como pela direção, supervisão, planejamento e execução dos Serviços objeto
  deste;
</p>
<p style="margin-left: 40px; text-align: justify">
  d) Arcar com os custos de salários, contribuições previdenciárias e quaisquer
  tributos incidentes à operação, relacionados aos seus funcionários que serão
  designados para a prestação de Serviços, eximindo a Contratante de qualquer
  responsabilidade;&nbsp;
</p>
<p style="margin-left: 40px; text-align: justify">
  e) Não utilizar trabalho infantil ou escravo na prestação dos Serviços, nos
  termos da legislação em vigor, e fiscalizar seus subcontratados para que eles
  também não utilizem tal tipo de trabalho, sob pena de rescisão imediata desta
  contratação, sem prejuízo das demais sanções cabíveis;
</p>
<p style="margin-left: 40px; text-align: justify">
  f) Corrigir, às suas expensas e dentro dos prazos concedidos pela Contratante,
  todos os defeitos, erros, falhas e quaisquer irregularidades que se apresentem
  nos Serviços, mesmo após o recebimento destes, salvo se a incorreção
  comprovadamente resultar do incorreto fornecimento de dados ou informações a
  cargo exclusivo da Contratante ou, ainda, por qualquer outro ato em que se
  evidencie a culpa exclusiva desta última;
</p>
<p style="margin-left: 40px; text-align: justify">
  g) Realizar e concluir os Serviços objeto desta contratação no prazo previsto,
  ficando facultado à Contratante exigir da Contratada a mobilização de recursos
  adicionais visando recuperar eventual atraso, sem que caiba à Contratada
  qualquer remuneração adicional e/ou quaisquer outras reivindicações, na
  hipótese desse eventual atraso ocorrer por culpa exclusiva da
  Contratada;&nbsp;
</p>
<p style="margin-left: 40px; text-align: justify">
  h) Desenvolver os conteúdos e materiais das aulas em caráter de absoluta
  originalidade, sem a utilização não autorizada de direitos de propriedade
  intelectual de terceiros, comprometendo-se a garantir os devidos créditos aos
  eventuais autores em caso de uso de materiais autorais que não sejam de sua
  criação;
</p>
<p style="margin-left: 40px; text-align: justify">
  i) Eximir e indenizar a Contratante de e contra todas e quaisquer reclamações,
  danos, despesas, multas e penalidades devidas em decorrência de ação ou
  omissão sua, de seus empregados, prepostos e subcontratados, desde que
  devidamente comprovado o prejuízo, a terceiros, à Contratante e/ou ao cliente
  final; e&nbsp;
</p>
<p style="margin-left: 40px; text-align: justify">
  j) Tratar com absoluto sigilo e confidencialidade as informações que venham a
  tomar conhecimento durante a execução dos Serviços, formal ou informalmente,
  com relação a qualquer assunto ou atividade relacionada à Contratante e/ou ao
  objeto deste Contrato.
</p>
<p style="text-align: justify">
  3.2. Sem prejuízo de outras obrigações previstas neste Contrato, são
  obrigações da Contratante:
</p>
<p style="margin-left: 40px; text-align: justify">
  a) Fornecer à Contratada as informações, dados e documentos necessários ao bom
  desempenho dos Serviços a serem executados pela Contratada;
</p>
<p style="margin-left: 40px; text-align: justify">
  b) Efetuar os pagamentos devidos à Contratada, conforme os prazos e as
  condições estabelecidos no presente Contrato; e
</p>
<p style="margin-left: 40px; text-align: justify">
  c) Pagar ou reembolsar a Contratada, desde que previamente autorizada pela
  Contratante e devidamente comprovada pela Contratada, as despesas referentes
  de viagem que porventura se façam necessárias, tais como passagens aéreas ou
  rodoviárias, locomoção e estadia.
</p>
<p style="text-align: justify"><strong>4. PREÇO</strong></p>
<p style="text-align: justify">
  4.1. Em contraprestação aos Serviços prestados, a Contratante pagará à
  Contratada o valor fixo de {{ PRECO }} ("Preço").&nbsp;
</p>
<p style="text-align: justify">
  4.2. O Preço inclui a remuneração devida à Contratada pelo cumprimento de
  todas as obrigações por esta assumidas (inclusive aquelas previstas na
  cláusula sexta), nos termos e condições desta contratação, custos diretos e
  indiretos, mobilização e desmobilização, contingências, além dos tributos
  incidentes na prestação dos Serviços.
</p>
<p style="text-align: justify">
  4.3. Qualquer custo/despesa extraordinária, que a Contratada precise ter para
  executar o Serviço, deverá ser previamente comunicada e aprovada pela
  Contratante para fins de reembolso, sob pena de não ocorrer.
</p>
<p style="margin-left: 1.25cm; text-align: justify">
  4.3.1. A Contratada arcará com o pagamento de todas as despesas inerentes à
  prestação de seus serviços, salvo aquelas eventualmente e previamente
  negociadas com a Contratante.
</p>
<p style="text-align: justify"><strong>5. CONDIÇÕES DE PAGAMENTO</strong></p>
<p style="text-align: justify">
  5.1. {% if CONTRATADA.PERSON_TYPE == "legal_person" %}A Contratada deverá
  emitir nota fiscal{% else %}A Contratante deverá emitir Recibo de Prestador de
  Serviço Autônomo{% endif %} em nome da Contratante e em conformidade com a
  legislação vigente, nela destacando expressamente: (i) o valor dos impostos
  devidos; (ii) as isenções ou imunidades fiscais e tributárias porventura
  aplicáveis, indicando a base destas; (iii) o número da ordem de Serviço e da
  nota fiscal; e (iv) o valor devido, a data do vencimento e as instruções
  bancárias para pagamento.
</p>
<p style="text-align: justify">
  5.2. {% if CONTRATADA.PERSON_TYPE == "legal_person" %} O pagamento será
  realizado no dia 10 (dez) do mês subsequente à emissão da nota fiscal, devendo
  a referida nota ser emitida até o dia 25 (vinte e cinco) do mês da prestação
  do serviço, observados os requisitos listados na Cláusula acima.{% else %}O
  pagamento será realizado em até 30 dias do mês subsequente à emissão do Recibo
  de Prestador de Serviço Autônomo, devendo o referido recibo ser emitido 30
  dias após a finalização do curso, observados os requisitos listados na
  Cláusula acima.{% endif %}
</p>
<p style="text-align: justify">
  {% if TIPO_TRANSFERENCIA == "CONTACORRENTE" %}
</p>
<p style="margin-left: 1.25cm; text-align: justify">
  5.2.1. O pagamento será efetuado por meio de depósito em conta corrente nº {{
  CONTA_CORRENTE }}, Agência nº {{ AGENCIA }}, Banco {{ BANCO }}, valendo o
  respectivo comprovante de depósito como prova de pagamento e quitação da
  respectiva parcela.{% endif %}
</p>
<p style="text-align: justify">{% if TIPO_TRANSFERENCIA == "PIX" %}</p>
<p style="margin-left: 1.25cm; text-align: justify">
  5.2.1. O pagamento será efetuado por meio de transferência para a conta de
  chave PIX: {{ CHAVE }}, valendo o respectivo comprovante de depósito como
  prova de pagamento e quitação da respectiva parcela.{% endif %}
</p>
<p style="text-align: justify">
  5.3. Caso a Contratada deixe de apresentar quaisquer dos documentos listados
  nesta Cláusula e quando solicitado pela Contratante, a Contratante, desde já,
  fica autorizada, independentemente de qualquer aviso ou notificação, a reter o
  valor do pagamento, que somente será liberado pela Contratante com a
  apresentação regular dos documentos solicitados.
</p>
<p style="text-align: justify">
  5.4. A retenção de qualquer pagamento, por descumprimento de qualquer Cláusula
  ou condição desta contratação pela Contratante, não implicará em correção ou
  atualização dos valores correspondentes, nem dará direito à Contratada a
  qualquer reparação ou indenização, a que título for, sendo que o prazo de
  pagamento contratual será contado a partir da data em que a Contratada<strong
  > </strong>tiver cumprido todas as suas obrigações ora contratadas.
</p>
<p style="text-align: justify">
  5.5. A Contratante poderá descontar, na fonte, os tributos e contribuições que
  a legislação tributária assim obrigar.
</p>
<p style="text-align: justify">
  5.6. Não obstante as demais penalidades fixadas neste Contrato, na hipótese de
  exigência pelo fisco municipal do recolhimento do ISSQN no local da prestação
  dos Serviços, independentemente de lei específica, qualquer advertência,
  intimação, citação autuação, notificação ou condenação a tal título da
  Contratante pelo não recolhimento deste tributo em época própria, resultará no
  direito de retenção dos pagamentos devidos por força desta contratação de
  qualquer valor necessário ao cumprimento de tais obrigações da Contratada,
  aplicando-os na satisfação da respectiva obrigação e no pagamento dos custos
  incorridos pela Contratante, incluindo, mas não se limitando a, principal,
  juros, correção monetária, multas, custas processuais, honorários
  advocatícios, corrigidos até a data do pagamento.
</p>
<p style="text-align: justify">
  5.7. Na hipótese da Contratada alterar o seu regime tributário, ou deixar de
  gozar de algum benefício fiscal, deverá a mesma informar tal situação
  imediatamente à Contratante, que poderá rescindir a prestação de serviços, bem
  como imputar à Contratante todos os custos e ônus que comprovadamente vier a
  sofrer em razão disso.
</p>
<p style="text-align: justify"><strong>6. PROPRIEDADE INTELECTUAL</strong></p>
<p style="text-align: justify">
  6.1. Por meio deste instrumento, a Contratada cede e transfere à Contratante,
  em caráter gratuito, irrevogável e irretratável, todos os direitos de
  propriedade intelectual, incluindo direitos autorais e conexos, relativos ao
  conteúdo acadêmico produzido e gravado pela Contratante ("Conteúdo"),
  resultante da prestação dos Serviços objeto desta contratação, sendo vedada a
  divulgação do Conteúdo pela Contratada ou quaisquer de seus prepostos sem a
  prévia autorização escrita da Contratante.
</p>
<p style="margin-left: 1cm; text-align: justify">
  PARÁGRAFO ÚNICO: A Contratada desde já reconhece que não fará jus a qualquer
  remuneração adicional à título de cessão da Propriedade Intelectual em tela,
  ou pela exploração futura desta, sendo certo que nada lhe será devido além dos
  valores pactuados na cláusula 4, que correspondente à inteira remuneração da
  Contratada pelos serviços objeto deste contrato e produtos dele
  decorrentes.&nbsp;
</p>
<p style="text-align: justify">
  6.2. Na qualidade de detentora dos direitos relacionados ao Conteúdo, a
  Contratante poderá o editar e utilizar sob qualquer forma, em qualquer
  modalidade prevista em Lei, inclusive para reprodução, divulgação, produção de
  mídia ou qualquer outro meio, bem como poderá realizar a exploração comercial
  do Conteúdo, de forma livre, no Brasil e no exterior, durante todo o prazo de
  proteção legal do Conteúdo criado.
</p>
<p style="text-align: justify">
  6.3. A Contratada declara ser a titular e detentora dos direitos autorais
  referentes ao Conteúdo, assumindo, neste ato, a responsabilidade de manter a
  Contratante imune aos efeitos de qualquer eventual reivindicação fundada na
  autoria do Conteúdo.
</p>
<p style="text-align: justify">
  6.4. Tendo em vista a gravação do Conteúdo, a Contratada autoriza a
  Contratante a utilizar sua imagem, nome, voz e dados bibliográficos, para fins
  de exploração e divulgação do curso, nos termos do item 1.1 deste
  Contrato.&nbsp;
</p>
<p style="text-align: justify">
  6.5. Observado o disposto acima, as Partes, direta ou indiretamente, não farão
  ou autorizarão o uso das marcas, logotipos, jargões ou qualquer tipo de
  propriedade intelectual (inclusive direitos de autor e de propriedade
  industrial, tais como patentes, segredos de empresa, <i>know how</i>,
  processos e inovações, registráveis ou não) da outra Parte ou de suas empresas
  controladas, controladoras, afiliadas ou licenciantes ("Propriedade
  Intelectual"). Para fins de esclarecimento, este Contrato não outorga às
  Partes qualquer direito sobre qualquer propriedade intelectual da outra Parte,
  frise-se, não expressamente cedidas, autorizadas e incluídas neste Contrato.
</p>
<p style="text-align: justify">
  6.6. As Partes não adotarão ou usarão qualquer nome, firma ou outra designação
  que inclua qualquer Propriedade Intelectual da outra, nem mesmo fabricarão,
  comercializarão ou terão interesses em produtos que levem qualquer Propriedade
  Intelectual da outra. Sem prejuízo, a título informativo, a Contratante poderá
  indicar em materiais de divulgação do curso e durante as aulas eventuais
  marcas e informações da Contratada com o intuito de indicar aos consumidores
  as qualificações do professor.&nbsp;
</p>
<p style="text-align: justify"><strong>7. CONFIDENCIALIDADE</strong></p>
<p style="text-align: justify">
  7.1. Entende-se por confidencial este Contrato, sua existência e conteúdo e
  qualquer informação fornecida, seja por escrito ou verbalmente, incluindo, sem
  limitação, qualquer informação relativa à Parceria, inclusive aquelas que já
  tenham sido trocadas ou transmitidas entre as Partes ou seus representantes
  durante as negociações para a assinatura deste Contrato e quaisquer
  informações relacionadas às Partes, seus negócios, operações, ativos ou
  conteúdos, que já tenham sido ou venham a ser trocadas no contexto das
  tratativas e/ou da performance da Parceria, incluindo, mas não se limitando a,
  informações sobre produtos, clientes, precificação, <i>know-how</i>,
  resultados, contratos, eventuais contingência, procedimentos e práticas
  ("Informações Confidenciais"). Também são considerados Informações
  Confidenciais os relatórios, resumos, estudos, memorandos ou materiais
  secundários que sejam preparados por qualquer das Partes com base em
  Informações Confidenciais da outra Parte.&nbsp;
</p>
<p style="text-align: justify">
  7.2. As Informações Confidenciais deverão ser mantidas totalmente em sigilo e
  não serão usadas de qualquer forma, exceto para os fins deste Contrato. Cada
  uma das Partes é responsável, por si e por seus assessores, consultores,
  prestadores de serviços, colaboradores, empregados e administradores, por
  cumprir com a obrigação de confidencialidade ora pactuada.&nbsp;
</p>
<p style="margin-left: 1.25cm; text-align: justify">
  7.2.1. A Contratada somente poderá revelar as Informações Confidenciais aos
  membros (seus funcionários ou de suas coligadas) diretamente envolvidos na
  realização dos serviços descritos e desde que tais Informações sejam
  utilizadas por estes exclusivamente neste objetivo. Em todos os casos, a
  Contratada somente poderá revelar as Informações Confidenciais desde que tenha
  um acordo, por escrito, com as referidas pessoas, que seja suficiente para
  obrigá-las a tratar as Informações Confidenciais nos mesmos termos desta
  contratação.
</p>
<p style="text-align: justify">
  7.3. A Contratada deverá usar as Informações Confidenciais somente para os
  fins para os quais lhe foram reveladas e deverá, ainda, cumprir todas as leis,
  regulamentos e restrições aplicáveis.&nbsp;
</p>
<p style="text-align: justify">
  7.4. O dever de confidencialidade ora assumido pelas Partes<strong
  > </strong>vigorará pelo prazo de 5 (cinco) anos a partir da data de
  assinatura deste Contrato.
</p>
<p style="text-align: justify"><strong>8. PENALIDADES</strong></p>
<p style="text-align: justify">
  8.1. Pelo inadimplemento de quaisquer obrigações dispostas neste contrato, as
  Partes<strong> </strong>deverão pagar multa em montante correspondente a 10%
  (dez por cento) do valor remanescente do Contrato, excetuando-se os casos com
  penalidade específica.
</p>
<p style="text-align: justify">
  8.2. As multas previstas nesta Cláusula Oitava não têm caráter compensatório,
  sendo que seu pagamento não eximirá as Partes da reparação dos eventuais
  danos, perdas ou prejuízos que seus atos venham a acarretar, desde que
  devidamente comprovados.
</p>
<p style="text-align: justify">
  8.3. Fica expressamente pactuado que as multas aplicadas às Partes poderão ser
  descontadas ou acrescentadas dos faturamentos pendentes da Contratada.
</p>
<p style="text-align: justify"><strong>9. RESCISÃO</strong></p>
<p style="text-align: justify">
  9.1. Qualquer uma das Partes tem o direito de, a qualquer momento, sem justo
  motivo e sem ônus, rescindir o presente Contrato mediante o envio de
  notificação prévia e por escrito à outra Parte com prazo mínimo de 30 (trinta)
  dias de antecedência da data prevista para seu início.&nbsp;
</p>
<p style="text-align: justify">
  9.2. O presente Contrato também poderá rescindido pela Partes, independe de
  envio de notificação prévia, nos seguintes casos:
</p>
<p style="margin-left: 40px; text-align: justify">
  a) inadimplemento de qualquer obrigação prevista neste Contrato, salvo, quando
  possível, se sanado o inadimplemento em até 15 (quinze) dias contados de
  notificação escrita enviada à Parte inadimplente;
</p>
<p style="margin-left: 40px; text-align: justify">
  b) quando decretada a recuperação judicial, extrajudicial, falência ou
  insolvência de umas das Partes; ou
</p>
<p style="margin-left: 40px; text-align: justify">
  c) caso qualquer das Partes seja envolvida, por qualquer forma, em processo
  e/ou procedimento que (i) possa denegrir a imagem da outra Parte, ou (ii)
  envolva ilícito, fraude, corrupção ou similar.
</p>
<p style="text-align: justify">
  9.3. Especificamente na ocorrência das hipóteses (a) ou (c) descritas na
  Cláusula 9.2 acima, a Parte infratora estará sujeita as penalidades previstas
  na Cláusula Oitava deste Contrato.
</p>
<p style="text-align: justify"><strong>10. DISPOSIÇÕES GERAIS</strong></p>
<p style="text-align: justify">
  10.1. O disposto neste Contrato vincula as Partes e seus sucessores, a
  qualquer título.
</p>
<p style="text-align: justify">
  10.2. O presente Contrato não cria entre as Partes qualquer sociedade,
  agência, associação, consórcio ou qualquer outro tipo de relação que não a
  prevista neste instrumento, bem como não gera qualquer vínculo ou obrigação
  trabalhista entre as Partes ou qualquer de seus prepostos.
</p>
<p style="text-align: justify">
  10.3. Toda e qualquer renúncia, alteração, dispensa ou modificação de qualquer
  direito, obrigação, termo ou condição da contratação só será válida e
  vinculante, se efetuada por escrito e assinada pelas Partes.&nbsp;
</p>
<p style="text-align: justify">
  10.4. Na hipótese de ser declarada nula ou inválida qualquer cláusula
  constante deste Contrato, tal declaração não afetará as demais disposições
  deste Contrato que permanecerão em vigor.&nbsp;
</p>
<p style="text-align: justify">
  10.5. O não exercício de qualquer direito previsto neste Contrato, bem como a
  falta ou atraso, por parte da Contratante, no exercício total ou parcial de
  quaisquer poderes ou direitos contratuais, não constituirá renúncia a tais
  poderes ou direitos, nem poderá ser alegado pela Contratada como precedente.
</p>
<p style="text-align: justify">
  10.6. É vedada a cessão ou subcontratação dos Serviços, no todo ou em parte,
  pela Contratada, a terceiros, sem a prévia e expressa anuência da Contratante,
  por escrito.
</p>
<p style="text-align: justify">
  10.7. Todos os avisos, reclamações, notas fiscais, pedidos ou outras
  comunicações entre as partes deverão ser feitos por escrito e dirigidos ao
  endereço de e-mail
  <a href="mailto:dayane@futurelaw.com.br"
    ><span style="color: #0000ff"><u>emmanuel@futurelaw.com.br</u></span></a
  ><span style="color: #000000"> e </span
  ><span style="color: #0000ff"><u>tayna@futurelaw.com.br.</u></span>
</p>
<p style="text-align: justify">
  10.8. É vedado à Contratada, sob pena de rescisão contratual, ceder total ou
  parcialmente, oferecer em garantia ou realizar qualquer operação negocial,
  tendo por objeto crédito decorrente dessa contratação, o desconto em
  instituições financeiras de duplicatas emitidas sobre as Faturas/Notas Fiscais
  de emissão da Contratada ou seu endosso em favor de terceiros.
</p>
<p style="text-align: justify">
  10.9. A Contratada concorda que o Preço já inclui indenização pelas limitações
  à prestação de serviços prevista na Cláusula 8ª, relativa ao Dever de Não
  Concorrência, não sendo devidas quaisquer indenizações adicionais em razão das
  restrições da retromencionada Cláusula.
</p>
<p style="text-align: justify">
  10.10. O presente Contrato constitui a manifestação final e definitiva da
  vontade das Partes e, por meio deste, as Partes, desde já, concedem mútua,
  plena e geral quitação por toda e qualquer relação anterior à assinatura do
  presente que tenha relação com o objeto desta contratação. Ficam resguardados
  os direitos da Contratante com relação às garantias e responsabilidade legais
  ou contratuais pelos eventuais serviços anteriormente entregues.
</p>
<p style="text-align: justify">
  10.11. Este instrumento, assinado pelas Partes e pelas testemunhas abaixo
  identificadas, configura título executivo, de modo que todos os débitos e
  obrigações de fazer e não fazer dele decorrentes poderão ser objeto de ação de
  execução específica.
</p>
<p style="text-align: justify">
  10.12. Os signatários abaixo declaram, sob as penas da lei civil e penal, que
  possuem todas as autorizações necessárias para representar as Partes
  contratantes e firmar o presente Contrato em nome das mesmas.
</p>
<p style="text-align: justify"><strong>11. FORO</strong></p>
<p style="text-align: justify">
  11.1. As Partes elegem o foro da Comarca da Capital do Estado do Rio de
  Janeiro/RJ, com expressa renúncia de qualquer outro, por mais especial e
  privilegiado que seja, para dirimir quaisquer dúvidas ou pendências oriundas
  do presente.
</p>
<p style="text-align: justify">
  E por se acharem justas e contratadas, as partes assinam o presente
  instrumento, em 2 (duas) vias de igual teor e forma, para um só efeito, na
  presença de duas testemunhas que também o subscrevem.
</p>
<p style="text-align: justify"><br />&nbsp;</p>
<p style="text-align: center">&nbsp;</p>
