.nationality {
	order: 0;
	flex: 0 238px;
}

.cnpj {
	order: 0;
	flex: 1;
}

.society-name {
	order: 1;
	flex: 1 0 100%;
}

.activity {
	order: 1;
	flex: 1 0 100%;
}

.cep {
	order: 7;
	flex: 1;
}

.country {
	order: 7;
	flex: 1.5;
}

.number {
	order: 7;
	flex: 1;
}

.street {
	order: 8;
	flex: 1 0 100%;
}

.complement {
	order: 9;
	flex: 0 238px;
}

.district {
	order: 9;
	flex: 0 238px;
}

.city {
	order: 10;
	flex: 1;
}

.state {
	order: 10;
	flex: 1;
}

.attorney-nationality {
	order: 11;
	flex: 0 238px;
}

.attorney-cpf {
	order: 11;
	flex: 0 238px;
}

.attorney-pronoun {
	order: 12;
	flex: 0 113px;
}

.attorney-name {
	order: 12;
	flex: 1;
}

.attorney-surname {
	order: 13;
	flex: 1 0 100%;
}

.attorney-identity {
	order: 14;
	flex: 1;
}

.attorney-identity-org {
	order: 14;
	flex: 1;
}

.attorney-identity-date {
	order: 14;
	flex: 1;
}

.attorney-email {
	order: 15;
	flex: 1 0 100%;
}

.attorney-profession {
	order: 16;
	flex: 1 0 100%;
}

.attorney-cep {
	order: 18;
	flex: 1;
}

.attorney-country {
	order: 18;
	flex: 0 238px;
}

.attorney-number {
	order: 18;
	flex: 1;
}

.attorney-street {
	order: 19;
	flex: 1 0 100%;
}

.attorney-complement {
	order: 20;
	flex: 0 238px;
}

.attorney-district {
	order: 20;
	flex: 0 238px;
}

.attorney-city {
	order: 22;
	flex: 1;
}

.attorney-state {
	order: 21;
	flex: 1;
}
