.documentEditor {
	border: 1px solid var(--ck-color-base-border);
	border-radius: var(--ck-border-radius);
	display: flex;
	flex-flow: column nowrap;
	max-height: 700px;
}

.documentEditorToolbar {
	border: 0;
	border-bottom: 1px solid var(--ck-color-toolbar-border);
	border-radius: 0;
	box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.2);
	z-index: 1;
}

.documentEditorEditableContainer {
	background: var(--ck-color-base-foreground);
	padding: calc(2 * var(--ck-spacing-large));
	overflow-y: scroll;
}

.ckEditorEditable {
	background: #fff;
	border: 1px hsl(0, 0%, 82.7%) solid;
	border-radius: var(--ck-border-radius);
	box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.1);
	margin: 0 auto;
	min-height: 21cm;
	padding: 1cm 2cm 2cm;
	width: 15.8cm;
}
