.logo {
	width: 150px;
}

.logoCollapsed {
	width: 50px;
}

.logoWrapper {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 180px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sidebar {
	position: absolute;
	height: 100%;
	background-color: #fff;
	z-index: 2;
}

.logo {
	fill: rgba(255, 255, 255, 0.2);
}

.sider {
	background-color: #ececec;
	height: 100vh;
}

.menu {
	background-color: #ececec;
}

.menuItem {
	font-size: 16px;
	color: #333;
}

.tooltip {
	font-size: 16px;
	font-weight: 500;
}

.icon {
	font-weight: 700;
	color: #333;
}
