version: '3'

services:
  mysql:
    image: mysql/mysql-server:5.7.29
    environment:
      MYSQL_DATABASE: lawing_local
      MYSQL_USER: lawing_local
      MYSQL_PASSWORD: hf8JGTRD
      MYSQL_ROOT_PASSWORD: 7hayTGfrc$F
    ports:
      - 3306:3306

  app:
    build: ./
    restart: always
    tty: true
    links:
      - mysql
    ports:
      - 5000:5000
    volumes:
      - .:/app
    working_dir: /app
    environment:
      - FLASK_APP=application.py
      - FLASK_ENV=development
      - SECRET_KEY=nf9w8**HytG
      - SQLALCHEMY_DATABASE_URI=mysql://lawing_local:hf8JGTRD@mysql/lawing_local
    command:
      flask run --host=0.0.0.0