version: "3.7"

services:
  postgres:
    image: postgres:12.2
    environment:
      POSTGRES_MULTIPLE_DATABASES:
      POSTGRES_USER:
      POSTGRES_PASSWORD:
    environment:
        - POSTGRES_MULTIPLE_DATABASES="lawing_dev","lawing_test"
        - POSTGRES_USER=lawing_user
        - POSTGRES_PASSWORD=lawing_pass
    volumes:
      - ./devops/docker-postgresql-multiple-databases:/docker-entrypoint-initdb.d
      - pgdata:/var/lib/postgresql/data
    ports:
      - 5432:5432
    networks:
      - dev-network

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: dev@parafernalia.net.br
      PGADMIN_DEFAULT_PASSWORD: 123456
      PGADMIN_LISTEN_PORT: 9000
    ports:
      - 9000:9000
    networks:
        - dev-network
    depends_on:
      - postgres
  app:
    build:
      context: .
      dockerfile: ./devops/Dockerfile.dev
    image: lawing_flask:latest
    restart: always
    tty: true
    depends_on:
      - postgres
    ports:
      - 5000:5000
    volumes:
      - ./:/opt
    working_dir: /opt
    networks:
      - dev-network
    tmpfs:
      - /tmp

networks:
  dev-network:
    driver: bridge

volumes:
  pgdata:
