[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "==0.13.3"
factory-boy = "==3.0.1"
pytest-dotenv = "*"
pytest-faker= "==2.0.0"
pytest-flask = "*"
pytest-mock = "==3.3.1"
python-dotenv = "==0.14.0"
pylint = "*"
black = "*"

[packages]
boto3 = "*"
gunicorn = "==20.0.4"
requests = "*"
Flask-Script = "==2.0.6"
flask = "*"
flask-cors = "*"
numpy = "*"
openpyxl = "*"
pandas = "*"
xlsxwriter = "*"
xmltodict = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
