.documentEditor {
	border: 1px solid var(--ck-color-base-border);
	border-radius: var(--ck-border-radius);
	display: flex;
	flex-flow: column nowrap;
	max-height: 19cm;
	min-height: 0;
}

.documentEditorToolbar {
	border: 0;
	border-bottom: 1px solid var(--ck-color-toolbar-border);
	border-radius: 0;
	box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.2);
	z-index: 1;
}

.documentEditorEditableContainer {
	padding: 10px 50px;
	overflow-y: scroll;
}
