AWSTemplateFormatVersion: 2010-09-09


Parameters:
  Cluster:
    Type: String

  DesiredCount:
    Type: Number
    Default: 1

  LaunchType:
    Type: String
    Default: Fargate
    AllowedValues:
      - Fargate
      - EC2

  TargetGroup:
    Type: String

  SourceSecurityGroup:
    Type: AWS::EC2::SecurityGroup::Id
  
  MBDBName:
    Type: String
  
  MBDBHost:
    Type: String

  MBDBPassword:
    Type: String
  
  MBDBUser:
    Type: String

  Subnets:
    Type: List<AWS::EC2::Subnet::Id>


    Type: String


    Type: String
    Description:
      The user pool app client  


    Type: String
    

    Type: String

Conditions:
  Fargate: !Equals [ !Ref LaunchType, "Fargate" ]

  EC2: !Equals [ !Ref LaunchType, "EC2" ]


Resources:
  TaskExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      Path: /
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: ecs-tasks.amazonaws.com
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AmazonECSTaskExecutionRolePolicy
            
  TaskRole:
    Type: AWS::IAM::Role
    Properties:
      Path: /
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: ecs-tasks.amazonaws.com
      Policies:
        - PolicyName: metabasepolicy
          PolicyDocument:
            Version: 2012-10-17
            Statement:
              - Resource: 
                  - !Sub 'arn:aws:rds:${AWS::Region}:${AWS::AccountId}:db:${MBDBName}'
                Effect: Allow
                Action:
                  - rds:*

  LogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /ecs/${AWS::StackName}

  FargateService:
    Type: AWS::ECS::Service
    Condition: Fargate
    Properties:
      Cluster: !Ref Cluster
      DesiredCount: !Ref DesiredCount
      TaskDefinition: !Ref TaskDefinition
      LaunchType: FARGATE
      NetworkConfiguration:
        AwsvpcConfiguration:
          AssignPublicIp: ENABLED
          SecurityGroups:
            - !Ref SourceSecurityGroup
          Subnets: !Split [",", !Ref Subnets]
      LoadBalancers:
        - ContainerName: metabase
          ContainerPort: 3000
          TargetGroupArn: !Ref TargetGroup

  EC2Service:
    Type: AWS::ECS::Service
    Condition: EC2
    Properties:
      Cluster: !Ref Cluster
      DesiredCount: !Ref DesiredCount
      TaskDefinition: !Ref TaskDefinition
      HealthCheckGracePeriodSeconds: 3600
      LaunchType: EC2
      LoadBalancers:
        - ContainerName: metabase
          ContainerPort: 3000
          TargetGroupArn: !Ref TargetGroup

  TaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: !Sub ${AWS::StackName}-metabase
      RequiresCompatibilities:
        - !If [ Fargate, "FARGATE", "EC2" ]
      Memory: 512
      Cpu: 256
      NetworkMode: !If [ Fargate, "awsvpc", "bridge" ]
      ExecutionRoleArn: !Ref TaskExecutionRole
      TaskRoleArn: !Ref TaskRole
      ContainerDefinitions:
        - Name: metabase
          Image: metabase/metabase
          Essential: true
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-region: !Ref AWS::Region
              awslogs-group: !Ref LogGroup
              awslogs-stream-prefix: !Ref AWS::StackName
          Environment:
          - Name: MB_DB_DBNAME
            Value: !Ref MBDBName
          - Name: MB_DB_HOST
            Value: !Ref MBDBHost
          - Name: MB_DB_PASS
            Value: !Ref MBDBPassword
          - Name: MB_DB_USER
            Value: !Ref MBDBUser
          - Name: MB_DB_TYPE
            Value: postgres
          - Name: MB_DB_PORT
            Value: 5432
          PortMappings:
            - ContainerPort: 3000
              HostPort: 3000
              Protocol: tcp
      Volumes:
        - Name: my-vol

Outputs:
  Service:
    Value: !If [ Fargate, !Ref FargateService, !Ref EC2Service ]

