AWSTemplateFormatVersion: '2010-09-09'
Metadata:
  License: Apache-2.0
Description: 'Main Lawing Database'

Parameters:
  DBName:
    Type: String
  DBUser:
    Type: String
  DBPassword:
    Type: String
  Subnets:
    Type: String
  VpcId:
    Type: String

Resources:

  DBSecurityGroup:
    Type: AWS::RDS::DBSecurityGroup
    Properties:
      GroupDescription: !Sub ${AWS::StackName}-dbsg
      DBSecurityGroupIngress:
        - CIDRIP: "0.0.0.0/0"
      EC2VpcId: !Ref VpcId

  DBSubnetGroup:
    Type: AWS::RDS::DBSubnetGroup
    Properties:
      DBSubnetGroupDescription: 'Subnet group for lawing postgres'
      DBSubnetGroupName: 'RDS Postgres subnet group'
      SubnetIds: !Split [ ',', !Ref Subnets]

  DB:
    Type: AWS::RDS::DBInstance
    Properties:
      DBName: !Ref 'DBName'
      AllocatedStorage: '5'
      DBInstanceClass: db.t2.micro
      Engine: postgres
      MasterUsername: !Ref 'DBUser'
      MasterUserPassword: !Ref 'DBPassword'
      DBSecurityGroups:
        - !Ref DBSecurityGroup
      DBSubnetGroupName:
        !Ref DBSubnetGroup
      PubliclyAccessible: true
#       DBParameterGroupName: !Ref 'MyRDSParamGroup'
#   MyRDSParamGroup:
#     Type: AWS::RDS::DBParameterGroup
#     Properties:
#       Family: MySQL5.6
#       Description: lawing database parameter group
#       Parameters:
#         autocommit: '1'
#         general_log: '1'
#         old_passwords: '0'
Outputs:
  DatabaseURI:
    Description: Connection string for the database
    Value: !Join ['',['postgresql://', !Ref 'DBUser', ':', !Ref 'DBPassword', '@', !GetAtt [DB, Endpoint.Address], ':', !GetAtt [DB, Endpoint.Port], '/', !Ref 'DBName']]

  DatabaseAddress:
    Description: Endpoit address for the database
    Value: !GetAtt [DB, Endpoint.Address]
