.content {
	background-color: #fff;
	padding: 2% 1% 0 1%;
	width: 77%;
}

.button {
	display: flex;
	position: absolute;
	top: 8rem;
	left: 46rem;
	margin-left: auto;
	margin-top: .5rem;
}

.empty {
	color: #fc2003;
}
